<section class="summary-cards">
    <div class="card">Total Balance <strong>₹{{ totalBalance | number:'1.2-2' }}</strong></div>
    <div class="card">Total Income <strong>₹{{ totalIncome | number:'1.2-2' }}</strong></div>
    <div class="card">Total Expenses <strong>₹{{ totalExpenses | number:'1.2-2' }}</strong></div>
  </section>
  
  <section class="charts">
      
    <div class="chart-card">
      <h3>Monthly Financial Summary</h3>
        <app-transaction-chart></app-transaction-chart>
    </div>
  </section>
  